<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6ab1fd68-9d40-40f0-a46d-18fa4ed2fd1c/resourceGroups/studio-maggio_group/providers/Microsoft.Web/sites/studio-maggio</ResourceId>
    <ResourceGroup>studio-maggio_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://studio-maggio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4759d7e3-c5d7-4533-92c5-60a40eaf7612</ProjectGuid>
    <PublishUrl>https://studio-maggio.scm.azurewebsites.net/</PublishUrl>
    <UserName>$studio-maggio</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>