@page
@model OpenCRM.Manage.Areas.Manage.Pages.IndexModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM Manage Module</title>
</head>
<body>
    <h1>Implement manage module here</h1>
</body>
</html>
