@page
@model WebStudioMaggio.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Studio Maggio</title>
    <meta content="Benvenuti nella nostra moderna clinica medica, dove la vostra salute è la nostra priorità numero uno. Con un team di professionisti altamente qualificati e attrezzature all'avanguardia, siamo pronti ad offrire servizi sanitari completi e personalizzati per tutte le esigenze dei nostri pazienti. Dalla diagnosi alla terapia, ci impegniamo a fornire cure efficaci ed efficienti che migliorano la vostra qualità della vita. Venite a trovarci oggi stesso per sperimentare il nostro impegno verso una cura completa e affidabile."
          name="description">
    <meta content="Studio Maggio, Medicina Interna Generale" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:studiomaggio@hin.ch">studiomaggio@hin.ch</a>
                <i class="bi bi-phone"></i> 091 971 65 55
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a asp-page="Index">Studio Maggio</a></h1>
            
            <!-- ======= navbar ======= -->
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#">Home</a></li>
                    <li><a class="nav-link scrollto" asp-page="./Team">Team</a></li>
                    <li><a class="nav-link scrollto" asp-page="./Offer">Offerta</a></li>
                    <li><a class="nav-link scrollto" asp-page="./Contact">Contatto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>Studio Maggio</h1>
            <h2>Benvenuti nello Studio Maggio, lo studio per una medicina di famiglia completa.</h2>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Perché lo Studio Maggio?</h3>
                            <p>
                                Lingue: Italiano, tedesco, francese, inglese
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <!-- <i class="bx bx-receipt"></i> -->
                                        <h4>Il nostro team</h4>
                                        <p>
                                            Siamo un team ben coordinato con un'ampia esperienza nella pratica
                                            quotidiana, nella vita ospedaliera e nella medicina d'urgenza.
                                        </p>
                                        <a class="btn btn-primary" asp-area="" asp-page="Team">Scopri</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0" asp-page="Offer">
                                        <!-- <i class="bx bx-cube-alt"></i> -->
                                        <h4>Il nostro servizio</h4>
                                        <p>
                                            Con la nostra ampia gamma di diagnosi e opzioni terapeutiche, offriamo
                                            un'assistenza medica personalizzata e individuale.
                                        </p>
                                        <br>
                                        <a class="btn btn-primary" asp-area="" asp-page="Offer">Scopri</a>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0" asp-page="/Contact">
                                        <!-- <i class="bx bx-images"></i> -->
                                        <h4>Venite a trovarci</h4>
                                        <p>Saremo lieti di accogliervi e consigliarvi nel nostro studio amichevole.</p>
                                        <br>
                                        <br>
                                        <br>
                                        <a class="btn btn-primary" asp-area="" asp-page="Contact">Scopri</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .content-->
                    </div>
                </div>

            </div>
        </section>
        <!-- End Why Us Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Studio Maggio</h4>
                        <p>
                            Via Maggio 13<br>
                            Lugano, 6900<br>
                            Svizzera <br><br>
                            <b>Telefono:</b> 091 971 65 55<br>
                            <b>Mail:</b> studiomaggio@hin.ch<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4><b>Orari d'apertura</b></h4>
                        <p>Dal lunedì al venerdì: dalle ore 08.00 alle ore 14.00</p>
                        <p>Con e senza prenotazione anticipata (<span class="red">possibilità di walk-in</span>)</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Navigazione</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-page="Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-page="Team">Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-page="Offer">Offerta</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a asp-page="Contact">Contatto</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Medilab</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade - v1.0.0-1</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>