@page
@model OpenDHS.StudioMaggio.Site.Pages.TeamModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Studio Maggio - Team</title>
    <meta content="Benvenuti nella nostra moderna clinica medica, dove la vostra salute è la nostra priorità numero uno. Con un team di professionisti altamente qualificati e attrezzature all'avanguardia, siamo pronti ad offrire servizi sanitari completi e personalizzati per tutte le esigenze dei nostri pazienti. Dalla diagnosi alla terapia, ci impegniamo a fornire cure efficaci ed efficienti che migliorano la vostra qualità della vita. Venite a trovarci oggi stesso per sperimentare il nostro impegno verso una cura completa e affidabile."
          name="description">
    <meta content="Studio Maggio" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope"></i> <a href="mailto:studiomaggio@hin.ch">studiomaggio@hin.ch</a>
                <i class="bi bi-phone"></i> 091 971 65 55
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a asp-page="Index">Studio Maggio</a></h1>
            <!-- ======= navbar ======= -->
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" asp-page="Index">Home</a></li>
                    <li><a class="nav-link scrollto active" asp-page="#">Team</a></li>
                    <li><a class="nav-link scrollto" asp-page="Offer">Offerta</a></li>
                    <li><a class="nav-link scrollto" asp-page="Contact">Contatto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Team</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Team</li>
                </ol>
            </div>

        </div>
    </section>
    <!-- End Breadcrumbs Section -->

    <main id="main">

        <!-- ======= Team Section ======= -->
        <section id="team" class="doctors">
            <div class="container">

                <div class="section-title">
                    <h2>Il team</h2>
                </div>

                <div class="row">

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" style="height: 260px">
                            <div class="pic">
                                <img src="assets/img/doctors/andrea-meier.jpg" class="img-fluid rounded-circle" alt="Andrea Meier">
                            </div>
                            <div class="member-info">
                                <h4>Dr.ssa med. Andrea Meier</h4>
                                <span>Specialista FMH in medicina interna generale</span>
                                <p>
                                <p class="certificate">
                                    Certificato di capacità / Formazione interdisciplinare
                                    approfondita
                                </p>
                                <p style="font-size: 14px;">Ultrasonografia (SSUM)</p>
                                <p>
                                <p class="certificate">Lingue</p>
                                <p style="font-size: 14px;">italiano, tedesco, francese, inglese</p>                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" style="height: 260px">
                            <div class="pic">
                                <img src="assets/img/doctors/elisa-solinas.jpg" class="img-fluid img-fluid rounded-circle" alt="Elisa Solinas">
                            </div>
                            <div class="member-info">
                                <h4>Elisa Solinas</h4>
                                <span>Infermiera</span>
                                <p>
                                <p class="certificate">Lingue</p>
                                <p style="font-size: 14px;">italiano</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End team Section -->

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Studio Maggio</h4>
                        <p>
                            Via Maggio 13<br>
                            Lugano, 6900<br>
                            Svizzera <br><br>
                            <b>Telefono:</b> 091 971 65 55<br>
                            <b>Mail:</b> studiomaggio@hin.ch<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4><b>Orari d'apertura</b></h4>
                        <p>Dal lunedì al venerdì: dalle ore 08.00 alle ore 14.00</p>
                        <p>Con e senza prenotazione anticipata (<span class="red">possibilità di walk-in</span>)</p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Navigazione</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a asp-page="Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Team</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="offer.html">Offerta</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Contatto</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Medilab</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>