@page
@model OpenDHS.Web.Areas.Manage.Pages.Role.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit</h3></div>
                            <div class="card-body">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="RoleEntity.Id" />
                                    <div class="form-floating mb-3">
                                        <input asp-for="RoleEntity.Name" class="form-control" />
                                        <label asp-for="RoleEntity.Name" class="control-label"></label>
                                        <span asp-validation-for="RoleEntity.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="RoleEntity.AddedAt" class="form-control" readonly/>
                                        <label asp-for="RoleEntity.AddedAt" class="control-label"></label>
                                        <span asp-validation-for="RoleEntity.AddedAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="RoleEntity.UpdatedAt" class="form-control" readonly/>
                                        <label asp-for="RoleEntity.UpdatedAt" class="control-label"></label>
                                        <span asp-validation-for="RoleEntity.UpdatedAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="RoleEntity.DeletedAt" class="form-control" readonly/>
                                        <label asp-for="RoleEntity.DeletedAt" class="control-label"></label>
                                        <span asp-validation-for="RoleEntity.DeletedAt" class="text-danger"></span>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input type="submit" value="Save" class="btn btn-primary btn-block" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <a asp-page="./Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
