@page
@model OpenDHS.Omniumbio.Site.Pages.HomeModel
@{
    Layout = "_LayoutEmpty";
}


<section id="herohome">   
        <div class="text-center text-end">
            <a asp-area="" asp-page="Index">
            <img src="~/assets/img/bio/immagine-base.jpg" alt="Imagen" />
            </a>
        </div>    
</section><!-- End Hero -->
