@page
@model OpenDHS.Omniumbio.Site.Pages.HomeModel
@{
    Layout = "_LayoutEmpty";
}


<section id="herohome">
    <div data-aos="zoom-out">
        <div class="text-center text-end">
            <a asp-area="" asp-page="Index" class="btn btn-primary">Visitaci</a>
        </div>
    </div>
</section><!-- End Hero -->
