@page
@model OpenDHS.Web.Pages.RegisterModel
@{
    Layout = "_LayoutEmpty";
}
<div class="container p-5">
    <form asp-page-handler="Register" method="post">
        <h1 class="h3 mb-3 fw-normal">Please Register</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
            <label for="floatingPassword"> Confirm Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>

        <h3 class="clearfix">Message: @Model.Message</h3>
    </form>
</div>
