@page
@model OpenCRM.SwissLPD.Areas.SwissLDP.Pages.IndexModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpenCRM SwissLDP Module</title>
</head>
<body>
    <h1>Implement SwissLDP module here</h1>
</body>
</html>
